<footer>

  <div class="wrapper">
    <div class="footer-box">
      <div class="company-footer">
        <img src="" alt="">
        <h2>Arrendeu</h2>
        <p>A maneira mais facil de encontar seu proximo emprego</p>
      </div>
    </div>
    <div class="footer-box">
    <div class="article-footer">
      <h2>Artigos Recentes</h2>
      <ul class="footer-list">
        <li>
          <a href="">Como  conseguir o primeiro emprego</a>
          <span>05 de Março de 2023</span>
        </li>

        <li>
          <a href="">Como  conseguir o primeiro emprego</a>
          <span>05 de Março de 2023</span>
        </li>

        <li>
          <a href="">Como  conseguir o primeiro emprego</a>
          <span>05 de Março de 2023</span>
        </li>
      </ul>
    </div>
    </div>

    <div class="footer-box">
      <h2>Estamos aqui!</h2>
      <ul class="footer-list">
        <li>
          <a href="">
            <i class="fab fa-facebook-square"></i>
            <span>Facebook</span>
          </a>
        </li>
  <li>
          <a href="">
            <i class="fab fa-whatsapp-square"></i>
            <span>Whatsapp</span>
          </a>
        </li>

        <li>
          <a href="">
            <i class="fab fa-linkedin"></i>
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</footer>
