<div id="main-banner">
  <div id ="search-form">
    <h1>O maior sistema  de arrendamento de Imoveis de Angola</h1>
    <p>Conecta-se de forma gratuita as melhores  empresas e consiga o imovel para o teu sonho/</p>
  <form action="">
    <input type="text" name="job" placeholder="Digite o cargo">
    <select name="region">
      <option value="">Todas as Provincia</option>
    </select>
    <select name="category">
      <option value="">Categorias</option>
    </select>
    <input type="submit" value="Pesquisar">
  </form>
  </div>
</div>

