<section id="status-container" class="wrapper">
  <h2 class="title-center"> Estatística dos Imóveis</h2>
  <p class="p-center">
   Lorem Ipsum is simply dummy text of the printing and typesetting industry.
   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
   when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  </p>
  <div>

 <div class="status-box">
   <span class="status-qtd">+1369</span>
   <p class="status-text">Imóveis Disponíveis</p>
 </div>

 <div class="status-box">
   <span class="status-qtd">+199</span>
   <p class="status-text">Imóveis em Negociação</p>
 </div>

 <div class="status-box">
   <span class="status-qtd">+2000</span>
   <p class="status-text">Novos Candidatos</p>
 </div>

 <div class="status-box">
   <span class="status-qtd">-3</span>
   <p class="status-text">Reclamações</p>
 </div>

 </div>
 </section>

