#sendjob-container{
background: url("src/assets/apartamento-decorado.webp") no-repeat;
background-size: cover;
background-position: 0 25%;
padding: 15em;
}

#sendjob-container h2, #sendjob-container p {
  width: 600px;
  color: #fff;
}

#sendjob-container h2{
font-size: 36px;
margin-bottom: 50px;
}

#sendjob-container p{
  font-size: 18px;
  margin-bottom: 50px;

}

.light-btn{
  background-color: #fff;
  border: 2px solid #fff;
  color: #666;
  font-weight: bold;
text-transform: uppercase;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
transition: 0.5s;
}

.light-btn:hover{
  background-color: transparent;
  color:#fff;


}
